@charset "utf-8";

*{
    margin:0px;
    padding:0px;
    
}

html,body{
    width:100vw;
    height:100vh;
    box-sizing:border-box;
}

@media screen and (max-width:768px){


    .menu-cabeçalho{
        position:fixed;
        right:100%;
        top: 0;
        width:100vw;
        height:100vh;
        padding-left:4.5rem;
        background:#FBF8EF;
        gap: -8px;
        transition: 0.3s;
        z-index:1;
    
    }

    .menu-cabeçalho.active{
        right:0%;
    }

    .menumobile{
        display:block;
        z-index:2;

    }

    .menumobile.active{
        position:fixed;
        left:90%;
    }

    

    .menumobile.active .bar:nth-child(1){
        transform: translateY(-10px) rotate(45deg);
    }

    .menumobile.active{
        position:fixed;
        left:90%;
    }

    .navlist{
        display:flex;
        flex-direction:column;
    }
     
    

    .navegação-item{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    color: black;
    align-items:center;
    padding:2rem;
    font-size:1.5rem;
    text-decoration:none;
    overflow:auto;

    }

    .título-principal-competições{
        font-size:2.4rem;
    }
    .main-competições{
        height:450rem;
        background-color:#FBF8EF;
    }
    

    .competições-sessão-1{
        background-color:#FBF8EF;
        width:100vw;
        height:35rem;
        text-align:center;
        padding-top:2rem;
        padding-bottom:5rem;
        padding-left:3rem;
        padding-right: 3rem;
        font-size:1.8rem;
        color:#111b50;
    
    }

    .quebra-pag{
        display:none;
    }

    .quebra-pag-2{
        display:none;

    }

    .sessao1-competições-texto{
        padding-top:1.5rem;
        margin-bottom:1.5rem;
        font-size: 1.4rem;

    }

    .competições-sessão-2{

        background-color:#FBF8EF;
        display:flex;
        flex-direction:column;
        align-items:center;
        flex-wrap: wrap;

    }

    .caixa-texto-informações{
        background-color:#111b50;
        margin-bottom:2rem;
        margin-top:4rem;
        width:25rem;
        height:20rem;
        text-align:center;
        padding-left:2rem;
        padding-right:2rem;
        padding-top:3rem;
       
    

    }

    .títulos-competições{
        padding-top:1rem;
        padding-bottom:1rem;
        color:white;
        font-size:1.7rem;

    }

    .descrição-competições{
        font-family: 'Nanum Gothic', sans-serif;
        padding-left:1rem;
        padding-right:1rem;
        padding-bottom:0.1rem;
        text-align:center;
        font-size:0.9rem;
        color:white;
    }

    a {
      color:white;
      text-decoration-line:underline;
      padding-bottom:2rem;
    }


}