@charset "utf-8";


*{
  margin:0px;
  padding:0px;
 


}


html{
    width:100vw;
    height:100vh;
    box-sizing:border-box;
}


@media screen and (max-width:768px){

  

  .menu-cabeçalho{
    position:fixed;
    right:100%;
    top: 0;
    width:100vw;
    height:100vh;
    padding-left:4.5rem;
    background:#FBF8EF;
    gap: -8px;
    transition: 0.3s;
    z-index:1;
} 

   .navegação-item{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    color: black;
    align-items:center;
    padding:2rem;
    font-size:1.5rem;
    text-decoration:none;
    overflow:auto;
    }

    .navlist{
      display:flex;
      flex-direction:column;
  }

    
    .menumobile{
      display:block;
      z-index:2;

  }

  .menu-cabeçalho.active {
      right:0%;
  }

  .menumobile.active .bar:nth-child(1){
      transform: translateY(-10px) rotate(45deg);
  }

  .menumobile.active{
      position:fixed;
      left:90%;
  }

      

       .sessão1-intercambio{
        padding: 3rem;
       }

       .titulo-intercambio{
        font-size:2.7rem;
       }

       .sessão1-intercambio-texto{
        font-size: 1.5rem;
        padding-right:1rem;
        padding-left:1rem;
        padding-bottom:4rem;
    }

    .informações-intercambios{
      text-align:left;
      padding:0.5rem;
    }

    




}
