@charset "utf-8";


*{
     margin:0px;
     padding:0px;
}


html,body{
    width:100vw;
    height:210rem;
    box-sizing:border-box;
}


@media screen and (max-width:768px){
   
  .conteudo{
     background-color: #FBF8EF;
    
   }

    .menu-cabeçalho{
     right:100%;
     position: fixed;
     width:100vw;
     height:100vh;
     top:0;
     padding-left:4.5rem;
     background:#FBF8EF;
     gap: -8px;
     transition: 0.3s;
     z-index:1;

    }
    .menu-cabeçalho.active{
        right:0%;
    }
   

    .plano-de-fundo{
        display:none;
        
    }


    .menumobile{
        display:block;
        z-index:2;

    }

    .menumobile.active{
        position:fixed;
        left:90%;
    }

    .menumobile.active .bar:nth-child(1){
        transform: translateY(-10px) rotate(45deg);
    }


    .navegação-item{
        color: black;
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        align-items:center;
        padding:2rem;
        font-size:1.5rem;
        text-decoration:none;
        overflow:auto;
    
        }

        .navlist{
            display:flex;
            flex-direction:column;
        }
        .conteudo{
            height:168rem;
        }

.container{
    width:100vw;
    height:50vh;
    color:black;
    position:relative;
    background-color:#FBF8EF;
    background-repeat:no-repeat;
    background-size:cover;

    
}

.foto-site-menor{
    display:block;
    height:50vh;
}



.texto-centro{
    height: 25rem;
    color:white;
    padding-top:0.8rem;
    padding-left:1rem;
    padding-right:1rem;
    margin-top:2rem;
    text-align:center;
    top:0%;
    bottom:10%;
    left:5%;
    right:5%;
  }

.titulo{
    font-size:2rem;
    transition:all 0.5s;
    margin-top:1rem;
}

.texto-inicial-mais-alcance{

    font-size: 1.2rem;
    font-family: 'Nanum Gothic', sans-serif;
    margin-top:1rem;
    margin-bottom:1rem;
    margin-left:1rem;
    margin-right:1rem;
}
    
.secao2{
    padding-top:2rem;
    width:100vw;
    height:85rem;
    background-color:#FBF8EF;
    margin:0px;
    
}

.secao2-titulo{
    font-size:2.5rem;
}

.extracurricular-container-sessao3{

    width:100vw;
    height:78rem;
    text-align:center;
    padding:5rem;
    margin-top: 3rem;
    margin-left: 0rem;
   
    

}

.imagem-extracurrricular{
    display:none;
}

.conteúdo-left{
    display:none;
}

.conteúdo-right{
    top:0%;
    left:0%;
    bottom:0%;
    margin:2rem;

}

.secao3-index-titulo{
    padding-top:8rem;
    font-size:2.5rem;
}

.secao3-index-texto{

    text-align:center;
    color:#FBF8EF;
    font-size:1.4rem;
    font-family: 'Nanum Gothic', sans-serif;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-right:2rem;
    padding-left:2rem;
   
    
}

.footer{
    text-align:center;
    margin-top:32rem;
    background-color:#111b50;
    color:#FBF8EF;
    height:2rem;
    z-index:3;
}


}
